 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header"><h1>Mes Invités</h1>
</div>


<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/friend.png') }}" />
</div>
</div>
<div id="content_middle">
<div class="friends">
<a class="lienAdd" href="{{ path('friend_new') }}"><img src="{{ asset('bundles/cookbookcore/images/plus.gif') }}" border="0" /></a>
    <ul id="listFriends"> 
        {% for friend in user.friends %}
                    <li>
                        <div class="friend_pic lfloat"><b>&nbsp;</b></div>
                        <a href="{{ path('friend_show', { 'id': friend.id }) }}"><div class="friend">
                        <div class="friend_header">
                        {{ friend.name }}&nbsp;({{ friend.events|length }})
                        </div></a>
                        
                        
                        </div>
                    </li>
        {% endfor %}
        </ul>
<a href="{{ path('friend_new') }}">Ajouter un invité</a>
 </div>
</div>
<div id="content_right">
</div>

 {% endblock %}