 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header"><h1>Nouvel invité</h1></div>
<div id="content_left">&nbsp;</div>
<div id="content_middle">
<form action="{{ path('friend_new') }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}

<div>
    {{ form_label(form.name,'Nom') }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>
{{ form_rest(form) }}

    <input type="submit" />
</form>
</div>
<div id="content_left">&nbsp;</div>
 {% endblock %}