 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}
<div id="content_header"><h1>{{ friend.name }}</h1>
<input type="hidden" id="recipe_id" value="{{ friend.id }}" />
</div>

<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/friend.png') }}" />
</div>
</div>
<div id="content_middle">
Evènements :
<ul> 
{% for event in friend.events %}
            <li><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a> le {{ event.date|date("d/m/Y") }}</li>
{% endfor %}
</ul>
 un ami de  {{ friend.people.name }}
</div>
<div id="content_right">&nbsp;</div>
 {% endblock %}