 {% extends '::base.html.twig' %}

{% block body %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/michael-multiselect-a07f91c/js/ui.multiselect.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/michael-multiselect-a07f91c/js/locale/ui-multiselect-fr.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/event.js') }}"></script>

<script type="text/javascript">
    
</script>
{% include 'CookbookCoreBundle:Default:header.html.twig' %}

{{ form_errors(form) }}
<div id="content_header">
{% if action == 'event_new' %}
<h1>Nouvel évènement</h1>
{% else %}
<h1>Evènement : {{ form.vars.value.name }}</h1>
{% endif %}
</div>
<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/event.png') }}" />
</div>
</div>
<div id="content_middle">
<form action="" method="post" {{ form_enctype(form) }}>


<table>
<tr>
<td>
    {{ form_label(form.name, 'Nom') }}
    {{ form_errors(form.name) }}
</td><td>
    {{ form_widget(form.name) }}
        </td><td>&nbsp;
</td></tr><tr><td>
    {{ form_label(form.date) }}
    {{ form_errors(form.date) }}
</td><td>
    {{ form_widget(form.date) }}
         </td><td>&nbsp;
</td></tr><tr><td>
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
</td><td>
    {{ form_widget(form.description) }}
         </td><td>&nbsp;
</td></tr><tr><td>
    {{ form_label(form.friends, 'Invités') }}
    {{ form_errors(form.friends) }}
</td><td>
    {{ form_widget(form.friends) }}
    </td><td>
        L'invité&nbsp;n'est&nbsp;pas dans la liste : ajoutez le <br />
        <img class="hand" src="{{ asset('bundles/cookbookcore/images/plus.gif') }}" border="0" />
</td></tr><tr><td>


{{ form_label(form.recipes,'Plats') }}

</td><td>

    {{ form_errors(form.recipes) }}
    {{ form_widget(form.recipes) }}
    <br />
    <div id="categories">
  <label class="libFiltre"> Catégorie :</label>         <input type="radio" id="category0" name="category" checked="checked" value="" /><label for="category0">Tous</label>
 {% for category in categories %}
            <input type="radio" id="category{{ category.id }}" name="category" value="{{ category.id }}" /><label for="category{{ category.id }}">{{ category.name }}</label>
{% endfor %}
</div>
<br />

<div id="types">
  <label class="libFiltre">Type :    </label>       <input type="radio" id="type" name="type" checked="checked" value="" /><label for="type">Tous</label>
 {% for type in types %}
            <input type="radio" id="type{{ type.id }}" name="type" value="{{ type.id }}" /><label for="type{{ type.id }}">{{ type.name }}</label>
{% endfor %}
</div>
<br />

<div id="formats">
  <label class="libFiltre"> Format :   </label>       <input type="radio" id="format" name="format" checked="checked" value="" /><label for="format">Tous</label>
 {% for format in formats %}
            <input type="radio" id="format{{ format.id }}" name="format" value="{{ format.id }}" /><label for="format{{ format.id }}">{{ format.name }}</label>
{% endfor %}
</div>
<br />
 </td><td>&nbsp;
</td></tr></table>

{{ form_rest(form) }}

<input type="submit" id="submit" value="{% if action == 'event_new' %}{{ 'Ajouter'|trans }}{% else %}{{ 'Modifier'|trans }}{% endif %}" name="submit" />
</form>
</div>
<div id="new"></div>
{% endblock %}