 {% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cookbookcore/css/smoothness/jquery-ui-1.8.22.custom.css') }}" type="text/css" media="all" />
{% endblock %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header"><h1>Mes Catégories</h1>
</div>


<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/setting.png') }}" />
</div>
</div>
<div id="content_middle">
<div class="categories">
<a class="lienAdd" id="add_categ" href="{{ path('categoryrecipe_new') }}"><img src="{{ asset('bundles/cookbookcore/images/plus.gif') }}" border="0" /></a>
    <ul id="listCategories"> 
        {% for category in categories %}
                    <li class="ui-state-default" id="order_{{ category.id }}">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    <span id="order_span_{{ category.id }}" onclick="editCategory({{ category.id }})">{{ category.name }}</span>
                    <span class="rfloat hand" onclick="removeCategory({{ category.id }}); return false;">x</span>
                       
                    </li>
        {% endfor %}
        </ul>
 </div>
</div>
<div id="content_right">
</div>
<div id="new_cat"></div>
<div id="dialog-confirm" title="Supprimer la catégorie" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>La catéhorie sera supprimé définitivement. Etes-vous sûr ??</p>
</div>

 {% endblock %}
 {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
 {% endblock %}