<form id="ingredient_form" action="{{ path('ingredient_new') }}" method="post" {{ form_enctype(form) }} onsubmit="addIngredient();return false;">
   {{ form_errors(form) }}

<div>
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>
{{ form_rest(form) }}

<input type="button" id="add_ingredient" value="ajouter" />
</form>