 {% extends '::base.html.twig' %}

 {% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
  {% endblock %} 
{% block body %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/jquery-ui-1.8.22.custom.min.js') }}"></script>


{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header">
{% if action == 'recipe_new' %}
<h1>Nouvelle recette</h1>
{% else %}
<h1> {{ form.vars.value.name }}</h1>
{% endif %}
</div>

<div id="content_left">&nbsp;</div>
<div id="content_middle">
<form action="" method="post" {{ form_enctype(form) }}>

{{ form_errors(form) }}

<div>
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>

<div>
    {{ form_label(form.category) }}
    {{ form_errors(form.category) }}
    {{ form_widget(form.category) }}<a href="#" id="add_categ">Ajouter une category</a>
</div>

<div>
    {{ form_label(form.type) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}<a href="#" id="add_type">Ajouter un type</a>
</div>

<div>
    {{ form_label(form.format) }}
    {{ form_errors(form.format) }}
    {{ form_widget(form.format) }}<a href="#" id="add_format">Ajouter un format</a>
</div>
{{ form_rest(form) }}

<input type="submit" />
</form>

<div id="new_cat"></div>
<div id="new_format"></div>
<div id="new_type"></div>
</div>

<div id="content_right">&nbsp;</div>

{% endblock %}