 {% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cookbookcore/jquery-ui-1.11.3/jquery-ui.min.css') }}" type="text/css" media="all" />
{% endblock %}
    
 {% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
  {% endblock %} 
{% block body %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/jquery-ui-1.11.3/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/star-rating/jquery.rating.pack.js') }}"></script>


{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header">
{% if action == 'recipe_new' %}
<h1>Nouveau plat</h1>
{% else %}
<h1> {{ form.vars.value.name }}</h1>
{% endif %}
</div>

<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/spoon.png') }}" />
</div>
</div>
<div id="content_middle">
<form action="" method="post" {{ form_enctype(form) }}>

{{ form_errors(form) }}
<table>
<tr>
<td>
    {{ form_label(form.name,'Nom du plat') }}
    {{ form_errors(form.name) }}
</td><td>
    {{ form_widget(form.name) }}
</td>
</tr>

<tr><td>
    {{ form_label(form.category, 'Catégorie') }}
    {{ form_errors(form.category) }}
</td><td>
    <div id="categories" class="inline">{{ form_widget(form.category) }}</div><a href="#" id="add_categ">Ajouter une category</a>
</td>
</tr>

<tr><td>
    {{ form_label(form.type, 'Type') }}
    {{ form_errors(form.type) }}
</td><td>
    <div id="types" class="inline">{{ form_widget(form.type) }}</div><a href="#" id="add_type">Ajouter un type</a>
</td>
</tr>

<tr><td>
    {{ form_label(form.format, 'Format') }}
    {{ form_errors(form.format) }}
</td><td>
    <div id="formats" class="inline">{{ form_widget(form.format) }}</div><a href="#" id="add_format">Ajouter un format</a>
</td>
</tr>
<tr><td>
    {{ form_label(form.difficulty, 'Difficulté') }}
    {{ form_errors(form.difficulty) }}
</td><td>
    <div id="difficulties" class="inline">{{ form_widget(form.difficulty) }}</div>
</td>
</tr>
<tr><td>
    {{ form_label(form.preparetime, 'Temps de préparation') }}
    {{ form_errors(form.preparetime) }}
</td><td>
    {{ form_widget(form.preparetime) }} min.
</td>
</tr>
<tr><td>
    {{ form_label(form.cooktime, 'Temps de cuisson') }}
    {{ form_errors(form.cooktime) }}
</td><td>
    {{ form_widget(form.cooktime) }} min.
</td>
</tr>
<tr><td>
    {{ form_label(form.description,'Recette') }}
    {{ form_errors(form.description) }}
</td><td>
    {{ form_widget(form.description) }}
</td>
</tr>

</table>
{{ form_rest(form) }}

<input type="submit" id="submit" value="{% if action == 'recipe_new' %}{{ 'Ajouter'|trans }}{% else %}{{ 'Modifier'|trans }}{% endif %}" name="submit" />
</form>

<div id="new_cat"></div>
<div id="new_format"></div>
<div id="new_type"></div>
</div>

<div id="content_right"></div>

{% endblock %}