 {% extends '::base.html.twig' %}

 {% block body %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/star-rating/jquery.rating.pack.js') }}"></script>

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header"><h1>{{ recipe.name }}</h1>
<input type="hidden" id="recipe_id" value="{{ recipe.id }}" />
</div>


<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/spoon.png') }}" />
<table id="table_info_recipe">
    <tr>
          <td>Catégorie</td>
          <td>{{ recipe.category }}</td>
      </tr>
      <tr>
          <td>Type</td>
          <td>{{ recipe.type }}</td>
      </tr>
      <tr>
          <td>Format</td>
          <td>{{ recipe.format }}</td>
      </tr><tr>
        <td>Difficulté</td>
        <td>
<div id="difficulties">
{% for i in range(1, 3) %}
   <input type="radio" {% if recipe.difficulty == i  %} checked="checked" {% endif %} disabled="disabled" />
{% endfor %}
</div>
         </td>
      </tr>
      <tr>
          <td>Temps de préparation</td>
          <td>{{ recipe.preparetime }}&nbsp;min.</td>
      </tr>
      <tr>
          <td>Temps de cuisson</td>
          <td>{{ recipe.cooktime }}&nbsp;min.</td>
      </tr>
    </table>
</div>

</div>
<div id="content_middle">
<h3>Recette</h3>
{% if recipe.image != '' %}
<img id="picture_recipe" src="{{ asset('uploads/recipies/' ~ recipe.id ~'/picture/' ~ recipe.image)}}" alt="photo" />
{% else %}
<img id="picture_recipe" class="opacity20" src="{{ asset('bundles/cookbookcore/images/spoon.png') }}" />
{% endif %}

<div id="content_recipe"> 
{{ recipe.description|nl2br }}
</div><input type="button" value="Ajouter un Post-It" id="btn-addNote" />
<div id="board">
    <ul>
        {% for postit in recipe.postits %}
            <li id="postit-{{ postit.id }}"><div><h2 contenteditable="true" onblur="changePostItTitle({{ postit.id }},this);">{{ postit.title }}</h2><span class="rfloat hand" onclick="removePostIt({{ postit.id }}); return false;">x</span><p contenteditable="true" onblur="changePostItContent({{ postit.id }},this);">{{ postit.comment }}</p></div></li>
        {% endfor %}
  </ul>
		</div>
<div class="div_info">
<h3>Déjà servie</h3>
<ul> 
{% for event in recipe.events %}
            <li><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a> le {{ event.date|date("d/m/Y") }}</li>
{% endfor %}
</ul>
</div>
 un plat de  {{ recipe.people.name }}
<a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">modifer</a>
</div>
<div id="content_right">
    <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}"><button class="hand action" id="btnMod">Modifer</button></a>
 
 <a href="{{ path('recipe_delete', { 'id': recipe.id }) }}" onclick="removeRecipe(this);return false;" ><button class="hand action" id="btnSuppr">Supprimer</button></a>
<div id="del" title="Supprimer ce plat" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Cet plat sera supprimé définitivement. Etes-vous sûr ??</p>
</div>
<div id="ingredients">
<h3>Ingrédients</h3>
<div id="new_ingredient">
</div>

<ul id="ingredients_list"> 
{% for ingredient in recipe.ingredients %}
            <li id="ingredient-{{ ingredient.id }}"><a href="#">{{ ingredient.name }}</a><span class="rfloat hand" onclick="removeIngredient('{{ ingredient.id }}'); return false;">x</span></li>
{% endfor %}
</ul>
<div id="dialog-confirm" title="Supprimer cet ingrédient" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>L'ingrédient sera supprimé définitivement. Etes-vous sûr ??</p>
</div>
</div>
<div id="wines">
<h2>Vin</h2>
<a class="lienAdd" href="{{ path('recipe_new') }}"><img src="{{ asset('bundles/cookbookcore/images/plus.gif') }}" border="0" /></a>
<ul> 
{% for wine in recipe.wines %}
            <li><a href="{{ path('event_show', { 'id': wine.id }) }}">{{ wine.name }}</a>   </li>
{% endfor %}
</ul>
</div>
</div>
<div id="upload_picture" style="display: none;border: 1px solid red"><iframe id="upload_iframe"></iframe></div>
 {% endblock %}