 {% extends '::base.html.twig' %}

 {% block body %}
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cookbookcore/js/recipe.js') }}"></script>

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="content_header"><h1>Mes Formats</h1>
</div>


<div id="content_left">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/setting.png') }}" />
</div>
</div>
<div id="content_middle">
<div class="categories">
<a class="lienAdd" id="add_format" href="{{ path('formatrecipe_new') }}"><img src="{{ asset('bundles/cookbookcore/images/plus.gif') }}" border="0" /></a>
    <ul id="listFormats"> 
        {% for format in formats %}
                    <li class="ui-state-default" id="order_{{ format.id }}">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a href="{{ path('formatrecipe_show', { 'id': format.id }) }}">{{ format.name }}</a>
                       
                    </li>
        {% endfor %}
        </ul>
 </div>
</div>
<div id="content_right">
</div>
<div id="new_format"></div>
 {% endblock %}
