 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="home">
<div id="home_left">
<div id="home_mess">
<p>Simple repas de tous les jours, dîner en amoureux ou dîner entre amis :
<br /> <img src="{{ asset('bundles/cookbookcore/images/logo_findacook.png') }}" border="0" height="20"  style="margin-bottom: -4px;"/> est un outil pour trouver des idées de repas répertoriant vos  réussites culinaires plus ou moins simples que vous aviez peut-être un peu oublié...
<br />Vous pourrez, pour un invité donné, lui servir un de vos plats qu'il ne connaît pas en adéquation avec ses goûts.</div>
<div id="stepRecipe" class="step hand">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/spoon.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter un plat</h2>
<p>Pour répertorier vos petits plats avec leurs recettes</p>
</div>

</div>
<div id="stepEvent" class="step hand">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/event.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter un évènement</h2>
<p>Pour archiver les repas (date, invités, plats)</p>
</div>
</div>
<div id="stepFriend" class="step hand">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/friend.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter un invité</h2>
<p>Pour retrouver facilement leurs goûts</p>
</div>
</div>
</div>
<div id="find">
<h2>Recherche rapide</h2>
<table><tr><td>
  <label class="libFiltre"> Catégorie</label> 
</td><td>
    <select id="category" name="category">
        <option value="" selected="selected"><label for="category0">Tous</label></option>
 {% for category in categories %}
        <option value="{{ category.id }}"><label for="category{{ category.id }}">{{ category.name }}</label></option>
{% endfor %}
</select>
</td>
</tr><tr>
<td>
  <label class="libFiltre"> Type</label> 
</td><td>
    <select id="type" name="type">
        <option value="" selected="selected"><label for="type0">Tous</label></option>
 {% for type in types %}
        <option value="{{ type.id }}"><label for="type{{ type.id }}">{{ type.name }}</label></option>
{% endfor %}
</select>
</td>
</tr><tr>
<td>

  <label class="libFiltre"> Format</label> 
</td><td>
    <select id="format" name="format">
        <option value="" selected="selected"><label for="format0">Tous</label></option>
 {% for format in formats %}
        <option value="{{ format.id }}"><label for="format{{ format.id }}">{{ format.name }}</label></option>
{% endfor %}
</td>
</tr></table>
<div id="recipes"></div>
</div>


</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
$(document).ready(function() {

    if ( $("#stepRecipe") )  $("#stepRecipe").click(function(){
        window.location = '{{ path('recipe_new') }}';
    });
    if ( $("#stepEvent") )  $("#stepEvent").click(function(){
        window.location = '{{ path('event_new') }}';
    });
    if ( $("#stepFriend") )  $("#stepFriend").click(function(){
        window.location = '{{ path('friend_new') }}';
    });

    $('#category').change(refreshRecipes); 
    $('#format').change(refreshRecipes); 
    $('#type').change(refreshRecipes); 

    if ($('#category').val() || $('#format').val() || $('#type').val()){
        refreshRecipes();
    }

});

function refreshRecipes()
{
    //get the url for the form
    var url='../recipe/get';

    //start send the post request
    $.post(url,{
           category:$('#category').attr('value'),
           type:$('#type').attr('value'),
           format:$('#format').attr('value')
       },function(data){
        //the response is in the data variable
            $('#recipes').html(data);
            
    }, 'html');//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down


}
</script>
 {% endblock %}

 
