 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

 <div class="recipes">
Vos recettes :<br />
<a href="{{ path('recipe_new') }}">Ajouter une recette</a>
                <ul> 
                    {% for recipe in user.recipes %}
                                <li><a href="{{ path('recipe_show', { 'id': recipe.id }) }}">{{ recipe.name }}</a></li>
                    {% endfor %}
                    </ul>
<a href="{{ path('recipe_new') }}">Ajouter une recette</a>
 </div>
 <div class="friends">
Vos amis :<br />
<a href="{{ path('friend_new') }}">Ajouter un ami</a>
                <ul> 
                    {% for friend in user.friends %}
                                <li><a href="{{ path('friend_show', { 'id': friend.id }) }}">{{ friend.name }}</a></li>
                    {% endfor %}
                    </ul>
<a href="{{ path('friend_new') }}">Ajouter un ami</a>
 </div>
<div class="events">
Vos evenements :<br />
<a href="{{ path('event_new') }}">Ajouter un evenement</a>
                <ul> 
                    {% for event in user.events %}
                                <li>le {{ event.date|date("d/m/Y") }} : <a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></li>
                    {% endfor %}
                    </ul>
<a href="{{ path('event_new') }}">Ajouter un evenement</a>
 </div>
  {% endblock %}