<form id="type_form" action="{% if action == 'typerecipe_new' %}{{ path('typerecipe_new') }}{% else %}
{{ path('typerecipe_edit', { 'id': form.vars.value.id }) }} }}
{% endif %}" method="post" {{ form_enctype(form) }}>
   {{ form_errors(form) }}

<div>
    {{ form_label(form.name,'Nom') }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>
{{ form_rest(form) }}
</form>